body {
  background-color: #64c0f5;
}

.container {
  background-color: #fff;
  max-width: 800px;
  margin: 300px auto;
  border: 4px solid #302f2f;
  padding: 50px;
}

.title,
.sub-title,
.weather,
.weather-info {
  color: #575757;
}

.title {
  font-weight: 500;
}

.sub-title {
  font-size: 20px;
  font-weight: 300;
}

.weather {
  font-size: 18px;
}

.col {
  position: relative;
}

.cloud,
.weather-img {
  color: #d4d4d4;
  font-size: 60px;
}

.weather-img {
  width: 100%;
  text-align: center;
}

.small,
.small-bottom {
  font-size: 16px;
  color: #747474;
  position: absolute;
}

.small {
  top: 10px;
  right: 75px;
}

.degree {
  font-size: 55px;
}

.units {
  position: relative;
  top: -25px;
  left: -3px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: wavy;
}

#celsius {
  border-right: 2px solid #302f2f;
  padding-right: 4px;
}

.weather-info {
  margin: 0;
  position: relative;
  top: -30px;
  left: -40px;
}

.day {
  color: #f3a807;
}

.small-bottom {
  top: 113px;
  left: 70px;
}
